PROJECT_NAME=SHOPERA
API_V1_STR=/api
ENVIRONMENT=development

# MySQL Database Configuration
DATABASE_URL=mysql+pymysql://root:PASSWORD@localhost:3306/ecommerce_db

# Security & JWT
JWT_SECRET_KEY=CHANGE_THIS_IN_PRODUCTION
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
REFRESH_TOKEN_EXPIRE_DAYS=7

# CORS
CORS_ORIGINS=["http://localhost:5173","http://localhost:3000"]
